@media screen and (min-width: 800px) {
  .user-container {
    height: fit-content;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .clock-style {
    flex: 1 0;
    border-radius: 20%;
    max-width: 90%;
    height: auto;
    padding: 20px;
  }

  .user-container h4 {
    width: fit-content;
    height: fit-content;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--blue);
  }

  .user-container h3 {
    width: 348px;
    height: 111px;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--red);
  }

  .main-flex-container {
    display: flex;
    overflow: hidden;
    justify-content: space-around;
  }
  .encountercard-user {
    /* flex: 1 0 40%; */

    /* display: flex; */
    /* overflow: scroll;
  height: 400px; */
    /* width: 500px; */
    padding: 40px;
    width: 30%;
  }

  .scenario-container {
    /* min-width: 0; */
    padding: 40px;
    width: 60%;
  }

  .question-title {
    height: 52px;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--blue);
  }

  .flex-options {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
  }

  .user-option-one {
    width: 180px;
    height: 104px;
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--blue);
  }

  .user-option-two {
    width: 180px;
    height: 104px;
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--blue);
  }

  @media screen and (max-width: 428px) {
    .flex-options {
      display: flex;
      width: fit-content;
      justify-content: space-between;
      align-items: center;
      margin: 50px 0px;
    }

    .clock-style {
      flex: 1 0;
      border-radius: 5pc;
      width: 200px;
      height: auto;
    }

    .user-option-one {
      padding: 0px 5px;
    }

    .user-option-two {
      padding: 0px 10px;
    }
  }
}

@media screen and (max-width: 799px) {
  .user-container {
    height: fit-content;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .clock-style {
    flex: 1 0;
    border-radius: 20%;
    max-width: 900px;
    height: auto;
  }

  .user-container h4 {
    width: 348px;
    height: 169px;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--blue);
  }

  .user-container h3 {
    width: 348px;
    height: 111px;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--red);
  }

  .encountercard-user {
    display: none;
  }

  .question-title {
    height: 52px;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--blue);
  }

  .flex-options {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
  }

  .user-option-one {
    width: 180px;
    height: 104px;
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--blue);
  }

  .user-option-two {
    width: 180px;
    height: 104px;
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--blue);
  }

  .flex-options {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
  }

  .clock-style {
    flex: 1 0;
    border-radius: 5pc;
    width: 200px;
    height: auto;
  }

  .user-option-one {
    padding: 0px 5px;
  }

  .user-option-two {
    padding: 0px 10px;
  }
}
