.create-post {
  height: 100vh;
}

/* You are currently in text */
h6 {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--red);
  text-transform: lowercase;
}

/*vcity person is inv*/
h2 {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  /* font-size: calc(2em + 1vw); */
  font-size: 30px;
  text-align: center;
  color: var(--red);
  text-transform: uppercase;
  width: 100%;
  /* width: 360px; */
  height: fit-content;
}

.input-flex-container {
  display: flex;
  justify-content: center;
}

.main-box {
  width: 356px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-box {
  width: 356px;
  height: 210px;
  border: 1px solid rgba(19, 33, 106, 0.2);
}

.button-box {
  width: 356px;
  height: fit-content;
  display: flex;
  border: 1px solid rgba(19, 33, 106, 0.2);
  align-items: center;
}

.button-box i {
  padding: 30px 10px;
}

#checkbox {
  display: inline-block;
  padding: 15px 18px;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.checkbox-element {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999999;
  opacity: 0;
}

#checkbox>input[type='checkbox']+i{
  color: blue
}

#checkbox>input[type='checkbox']:checked+i{
  color: red;
}

/* input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
} */
