.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-flex-container {
  margin-top: -40px;
  height: fit-content;
}

.center-flex-container {
  display: flex;
  width: 100vw;
  height: fit-content;
  flex-direction: column;
  align-items: center;
}

.heading-container-login {
  margin-bottom: 40px;
}

.sub-text {
  width: fit-content;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--blue);
  text-align: center;
  text-transform: lowercase;
}

.main-text {
  width: fit-content;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: var(--red);
  text-align: center;
}

.form-flex-container {
  display: flex;
  height: fit-content;
  width: 100vw;
  justify-content: center;
  flex-direction: row;
  margin: 20px 0px;
}

form {
  width: 90%;
  margin: 10px 0px;
  text-align: left;
  display: block;
  max-width: 600px;
}

.input-area {
  margin: 6px 0px 50px 0px;
}

label {
  text-align: start;
  margin-bottom: 10px;
}

input {
  width: 100%;
  height: 52px;
  border: 1px solid rgba(19, 33, 106, 0.2);
}

.button1 {
  width: 108px;
  height: 50px;
  background: var(--blue-grey);
  border-radius: 20px;
  color: white;
  border: none;
}
