.topnav-flex-container {
  display: flex;
  width: 100vw;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 2px solid var(--bluefade);
  z-index: 2;
  position: relative;
}

.close {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--blue);
  width: fit-content;
  /* justify-self: start; */
}

.icon-container {
  /* justify-self: end; */
  width: fit-content;
}

/* all icon styling */
.icon-container i {
  padding: 0 10px;
  color: var(--blue);
}

.active i {
  color: var(--red);
}

a {
  text-decoration: none;
}

.active {
  color: var(--red);
}
