.card-container {
    width: 400px;
    border-top: 1px solid #d9d9d9;
    padding: 15px;
  }
  
.card-top-flex {
    display: flex;
  }

.card-header-comment {
    flex: 1 0 80%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    text-align: left;
    padding: 4px 0px 10px 10px;
  }
  
.username-card {
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: var(--blue);
    text-transform: uppercase;
    /* margin-bottom: 4px; */
}

.date-card {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: var(--red);
  }
  
.comment-text {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 80%;
    color: var(--blue);
    text-align: left;
    padding: 0px 10px;
  }

  