.bottomnav-flex-container {
  display: flex;
  width: 100vw;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  border-top: 2px solid var(--bluefade);
  position: sticky;
  bottom: 0;
}

/* all icon styling */
i {
  padding: 0 5px;
  color: var(--blue);
}

.active i {
  color: var(--red);
}

a {
  text-decoration: none;
}

.active {
  color: var(--red);
}
